
{% set parsley = TRUE %}

{% set title = 'New Project - Project Logger' %}

{% set breadcrumbs = [{link:'/', text: 'Home'}, {text: 'New Project'}] %}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}

{% block onload %}
    $('#pform').on('submit',function(e){
    return $(this).parsley().validate();
    }).parsley();
{% endblock onload %}

{% block header %}
    <article class="col-md-12">
        <h1 class="text-center">{{action}}</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            {% include '@util/message.twig' %}
            {{f.startform({ method: 'post', id: 'npform', class: 'primary-color light-text-color jumbotron'})}}
            <legend class="light-text-color text-center">New Project</legend>
            {{f.text({label: 'Project Name', name: 'name', ph: 'Your project name', value: newproject.name, parsley: {trigger: 'blur'}})}}
            {{f.textarea({label: 'Project Description', name: 'description', ph: 'Your project description', value: newproject.description, rows: '5', parsley: {maxlength:250, trigger: 'blur'}})}}
            {{f.submit({value: 'Create', bstyle: 'float-right hover-color btn btn-primary'})}}
            {{f.endform()}}
        </article>
    </section>
{% endblock main %}

{% block footer %}
    <article class="col-md-12">
    </article>
{% endblock footer %}
