
{% set parsley = TRUE %}

{% set title = 'New Timelog - Project Logger' %}

{% set breadcrumbs = [{link:'/', text: 'Home'}, {link:'/project/{{  project.id }}', text: 'Project'}, {text: 'New Timelog'}] %}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}

{% block onload %}
    $('#pform').on('submit',function(e){
    return $(this).parsley().validate();
    }).parsley();
{% endblock onload %}

{% block header %}
    <article class="col-md-12">
        <h1 class="text-center">{{action}}</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            {% include '@util/message.twig' %}
            {{f.startform({ method: 'post', id: 'ntlform', class: 'primary-color light-text-color jumbotron'})}}
            <legend class="light-text-color text-center">New Timelog</legend>
            {{f.datetime({label: 'Date', name: 'date', ph: 'dd/mm/yyyy', value: newtimelog.date, parsley: {trigger: 'blur'}})}}
            {{f.number({label: 'Hours worked', name: 'hours', ph: 'Hours worked', value: newtimelog.hours, parsley: {min: 0, max:24, trigger: 'blur'}})}}
            {{f.submit({value: 'Create', bstyle: 'float-right hover-color btn btn-primary'})}}
            {{f.endform()}}
        </article>
    </section>
{% endblock main %}

{% block footer %}
    <article class="col-md-12">
    </article>
{% endblock footer %}
