{% set title = project.name ~ ' - Project Logger' %}

{% set breadcrumbs = [{link:'/', text: 'Home'}, {text: 'Project'}] %}

{% extends '@content/page.twig' %}

{% block header %}
    <article class="col-md-12">
        <h1 class="text-center">{{action}}</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            {% include '@util/message.twig' %}
            <div class='primary-color light-text-color jumbotron'>
                <h1>{{ project.name }}</h1>
                <p>{{ project.description }}</p>
                <a class="hover-color light-text-color btn btn-primary" href="{{ base }}/project/{{ project.id }}/edit">
                    Edit Project Details</a>
            </div>
            <div class="light-text-color card">
                <div class="primary-color card-header">
                    <h2 class="d-inline mb-0">
                        <a type="button" class="light-text-color">
                            Your Notes</a>
                    </h2>
                </div>
                <div class="dark-text-color">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Hours worked</th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody>
                                {% if notes|length < 1 %}
                                    <tr>
                                        <td>No Project Notes</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% for note in notes %}
                                    <tr>
                                        <td>{{ note.date }}</td>
                                        <td>{{ note.hours }}</td>
                                        <td>
                                            <a class="float-right light-text-color btn btn-danger" href="{{ base }}/project/{{ project.id }}/note/{{ note.id }}/delete"}>
                                                Delete</a>
                                            <a class="float-right mr-1 hover-color light-text-color btn btn-primary" href="{{ base }}/project/{{ project.id }}/note/{{ note.id }}/edit"}>
                                                Edit </a>

                                            <a class="float-right mr-1 hover-color light-text-color btn btn-primary" href="{{ base }}/project/{{ project.id }}/note/{{ note.id }}"}>
                                                View</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <a class="hover-color light-text-color btn btn-primary" href="{{ base }}/project/{{ project.id }}/note/add"}>
                            Add Note</a>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock main %}