{% set ajax = TRUE %}
{% set parsley = TRUE %}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}

{% block onload %}
    $('#regform').parsley()
{% endblock onload %}

{% block navigation %}
{% endblock navigation %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
    <section class="row mt-4" id="frontpage">
        <article class="ml-auto col-md-8 mr-auto">
            {% include '@util/message.twig' %}
            {% if regok is defined %}
                <p><a href="{{base}}/login/" class="btn btn-primary">Login Page</a></p>
                <p><a href="{{base}}/" class="btn btn-primary">Home Page</a></p>
            {% else %}

                {{f.startform({method: 'post', class: 'primary-color jumbotron', id: 'regform'})}}
                <legend class="light-text-color text-center">Sign Up</legend>
                <label class="light-text-color" for="un">User name</label>
                    {{f.text({ id: 'un', ph: 'User name - alphanumeric characters only', class:'light-text-color',
                        parsley: {trigger: 'change',  'remote-reverse': 'false', remote: base~'/ajax/uniquenl/user/login/{value}',
                        'remote-message': 'That user name is not available', type: 'alphanum'}, required: TRUE})}}
                <label class="light-text-color" for="pw">Password</label>
                {{f.password({id: 'pw', name: 'password', ph: '*********', required: TRUE})}}
                <label class="light-text-color" for="rpw">Repeated Password</label>
                {{f.password({id: 'rpw', name: 'repeat', ph: '*********', parsley: {trigger: 'change', equalTo: '#pw'}, required: TRUE})}}
                <label class="light-text-color" for="em">Email</label>
                {{f.email({id: 'em', name: 'email', ph: 'pat@smith.org', parsley: {trigger: 'change'}, required: TRUE})}}
                    <p class="mt-4">
                        {{f.submit({bstyle:'hover-color float-right btn-primary', value: 'Register'})}}
                    </p>
                {{f.endform()}}
            {% endif %}
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
