{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}


{% block navigation %}
{% endblock navigation %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-6 mr-auto mt-5">
            {% include '@util/message.twig' %}
            {% if not done %}
                {{f.startform({action: base ~ '/forgot/', method: 'post', class: 'primary-color jumbotron'})}}
                    <legend class="light-text-color text-center">Password Reset</legend>
                    {{f.startfset('Send Password Reset Message')}}
                        <label class="light-text-color" for="el">Email</label>
                        {{f.text({id: 'el', name: 'eorl', ph: 'Your email address', required: TRUE})}}
                        {{f.submit({bstyle:'hover-color float-right btn-primary', value: 'Reset'})}}
                    {{f.endfset()}}
                {{f.endform()}}
            {% endif %}
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
